body{
    background-color:black;
    color: bisque;
}

input,#commentaire{
    display: block;
    border-radius: 10px;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.preparation ol{
    justify-content: center;
    margin-right: 150px;
    align-items: center;
}

.preparation ol li{
    padding-bottom: 20px;
}

.modimg{
    margin-right: 20px;
}
table{
  table-layout: fixed;
  width: 25%;
  border-collapse: collapse;
  border: 3px solid white;
}