body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1B1C25;
    color:#EBECF1;
    line-height: 1.6;
}

.larg_mod{
    border: 1px transparent;
    width: 50%;
    height: 400px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 2px 10px 12px #206A5D;
    margin: 20px 10px;
    padding-top: 10px;
}

.larg_mod p{
    display: flex;
    justify-content: center;
}

strong{
    color: #007bff;
}

.larg_mod h2{
    color: snow;
    margin-top: 20px;
    text-align: center;
}

.larg_mod:hover{
    background-color: mediumturquoise;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    margin: 10px ;
}

.bkg_title{
    background-color: #EBECF1;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

#myname{
    font-family: 'Kalnia', serif;
    color: #EBECF1;
}

h2 {
    margin-top: 30px;
    color: #007bff;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #206A5D;
    border-radius: 20px;
    box-shadow: #EBECF1;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

footer{
    display: flex;
    background-color: #206A5D;
    border-radius: 5px;
    justify-content: center;

}

footer p a img{
    margin-right: 10px;
}

.spacebetween{
    padding: auto;
}

#mod_container{
    height: 50vh;
}

@media screen and(max-width:720px){
    .larg_mod{
        width: 94%;
        height: 100px;
        align-items: center;
    }
}